In [1]:
import pandas as pd

## READ DATA

In [2]:
pd.read_csv("Pokemon.csv")                                   ## comma seprated value

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
df = pd.read_csv("Pokemon.csv")

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.size

10400

In [6]:
df.shape

(800, 13)

In [7]:
df.ndim

2

In [8]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [10]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [12]:
df.head(9)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

# REmoving Columns

In [13]:
df.drop(columns=['#'])

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [14]:
df.drop(columns=['#'] , inplace = True)

In [15]:
df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [16]:
df.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [17]:
name = df.Name

In [18]:
type(df.Name)

pandas.core.series.Series

In [20]:
df.Type1

AttributeError: 'DataFrame' object has no attribute 'Type1'

In [22]:
df['Type 1']

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

In [23]:
df[[ 'Name', 'Type 1', 'HP' ]]

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [26]:
df[[ 'Sp. Def', 'Speed' ]]

     Sp. Def  Speed
0         65     45
1         80     60
2        100     80
3        120     80
4         50     65
..       ...    ...
795      150     50
796      110    110
797      130     70
798      130     80
799       90     70

[800 rows x 2 columns]

In [32]:
df.loc[10]

Name          Wartortle
Type 1            Water
Type 2              NaN
Total               405
HP                   59
Attack               63
Defense              80
Sp. Atk              65
Sp. Def              80
Speed                58
Generation            1
Legendary         False
Name: 10, dtype: object

In [34]:
df[40 :50]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
40,Clefairy,Fairy,NaN,323,70,45,48,60,65,35,1,False
41,Clefable,Fairy,NaN,483,95,70,73,95,90,60,1,False
42,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
44,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False
45,Wigglytuff,Normal,Fairy,435,140,70,45,85,50,45,1,False
46,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
47,Golbat,Poison,Flying,455,75,80,70,65,75,90,1,False
48,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False

In [29]:
df.loc[5:20]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
20,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False

In [35]:
df[['Name', 'Type 1']].loc[20:40]

                   Name    Type 1
20               Pidgey    Normal
21            Pidgeotto    Normal
22              Pidgeot    Normal
23  PidgeotMega Pidgeot    Normal
24              Rattata    Normal
25             Raticate    Normal
26              Spearow    Normal
27               Fearow    Normal
28                Ekans    Poison
29                Arbok    Poison
30              Pikachu  Electric
31               Raichu  Electric
32            Sandshrew    Ground
33            Sandslash    Ground
34             Nidoranâ™€    Poison
35             Nidorina    Poison
36            Nidoqueen    Poison
37             Nidoranâ™‚    Poison
38             Nidorino    Poison
39             Nidoking    Poison
40             Clefairy     Fairy

In [38]:
# FIND THE NAME, Type 2 , attack, Defence From index 10 to 100

df[['Name', 'Type 2', 'Attack', 'Defense']].loc[10:100]

                        Name  Type 2  Attack  Defense
10                 Wartortle     NaN      63       80
11                 Blastoise     NaN      83      100
12   BlastoiseMega Blastoise     NaN     103      120
13                  Caterpie     NaN      30       35
14                   Metapod     NaN      20       55
..                       ...     ...     ...      ...
96                       Muk     NaN     105       75
97                  Shellder     NaN      65      100
98                  Cloyster     Ice      95      180
99                    Gastly  Poison      35       30
100                  Haunter  Poison      50       45

[91 rows x 4 columns]

In [40]:
df[ 'Name' ] == 'Pikachu'

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Name, Length: 800, dtype: bool

In [41]:
df[df[ 'Name' ] == 'Pikachu']

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
30,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False

In [44]:
df[df[ 'Type 1' ] == 'Fire']

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
84,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
135,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
147,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
158,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
169,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
170,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
171,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False
236,Slugma,Fire,NaN,250,40,40,40,70,40,20,2,False
237,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False
259,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False
263,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
270,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
276,Torchic,Fire,NaN,310,45,60,40,70,50,45,3,False
277,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
278,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
279,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
352,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
353,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
354,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
355,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False
435,Chimchar,Fire,NaN,309,44,58,44,58,44,61,4,False
436,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False
437,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False
518,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False
542,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
557,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
558,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
559,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
572,Pansear,Fire,NaN,316,50,53,48,53,48,64,5,False
573,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False
614,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
615,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
616,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
692,Heatmor,Fire,NaN,484,85,97,66,105,66,65,5,False
721,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False
722,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False
723,Delphox,Fire,Psychic,534,75,69,72,114,100,104,6,False
730,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False
735,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [47]:
df[df[ 'Attack' ] >100]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
39,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
793,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True